@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-Thin.woff2') format('woff2'), url('ttf/Iosevka-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/Iosevka-ExtendedThin.woff2') format('woff2'), url('ttf/Iosevka-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/Iosevka-ThinOblique.woff2') format('woff2'), url('ttf/Iosevka-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('woff2/Iosevka-ThinOblique.woff2') format('woff2'), url('ttf/Iosevka-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtendedThinOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('woff2/Iosevka-ExtendedThinOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/Iosevka-ThinItalic.woff2') format('woff2'), url('ttf/Iosevka-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/Iosevka-ExtendedThinItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-ExtraLight.woff2') format('woff2'), url('ttf/Iosevka-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/Iosevka-ExtendedExtraLight.woff2') format('woff2'), url('ttf/Iosevka-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtraLightOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('woff2/Iosevka-ExtraLightOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtendedExtraLightOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('woff2/Iosevka-ExtendedExtraLightOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/Iosevka-ExtraLightItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/Iosevka-ExtendedExtraLightItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-Light.woff2') format('woff2'), url('ttf/Iosevka-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/Iosevka-ExtendedLight.woff2') format('woff2'), url('ttf/Iosevka-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/Iosevka-LightOblique.woff2') format('woff2'), url('ttf/Iosevka-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('woff2/Iosevka-LightOblique.woff2') format('woff2'), url('ttf/Iosevka-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtendedLightOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('woff2/Iosevka-ExtendedLightOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/Iosevka-LightItalic.woff2') format('woff2'), url('ttf/Iosevka-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/Iosevka-ExtendedLightItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-Regular.woff2') format('woff2'), url('ttf/Iosevka-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/Iosevka-Extended.woff2') format('woff2'), url('ttf/Iosevka-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/Iosevka-Oblique.woff2') format('woff2'), url('ttf/Iosevka-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('woff2/Iosevka-Oblique.woff2') format('woff2'), url('ttf/Iosevka-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtendedOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('woff2/Iosevka-ExtendedOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/Iosevka-Italic.woff2') format('woff2'), url('ttf/Iosevka-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/Iosevka-ExtendedItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-Medium.woff2') format('woff2'), url('ttf/Iosevka-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/Iosevka-ExtendedMedium.woff2') format('woff2'), url('ttf/Iosevka-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/Iosevka-MediumOblique.woff2') format('woff2'), url('ttf/Iosevka-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('woff2/Iosevka-MediumOblique.woff2') format('woff2'), url('ttf/Iosevka-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtendedMediumOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('woff2/Iosevka-ExtendedMediumOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/Iosevka-MediumItalic.woff2') format('woff2'), url('ttf/Iosevka-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/Iosevka-ExtendedMediumItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-SemiBold.woff2') format('woff2'), url('ttf/Iosevka-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/Iosevka-ExtendedSemiBold.woff2') format('woff2'), url('ttf/Iosevka-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/Iosevka-SemiBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('woff2/Iosevka-SemiBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtendedSemiBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('woff2/Iosevka-ExtendedSemiBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/Iosevka-SemiBoldItalic.woff2') format('woff2'), url('ttf/Iosevka-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/Iosevka-ExtendedSemiBoldItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-Bold.woff2') format('woff2'), url('ttf/Iosevka-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/Iosevka-ExtendedBold.woff2') format('woff2'), url('ttf/Iosevka-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/Iosevka-BoldOblique.woff2') format('woff2'), url('ttf/Iosevka-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('woff2/Iosevka-BoldOblique.woff2') format('woff2'), url('ttf/Iosevka-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtendedBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('woff2/Iosevka-ExtendedBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/Iosevka-BoldItalic.woff2') format('woff2'), url('ttf/Iosevka-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/Iosevka-ExtendedBoldItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-ExtraBold.woff2') format('woff2'), url('ttf/Iosevka-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/Iosevka-ExtendedExtraBold.woff2') format('woff2'), url('ttf/Iosevka-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtraBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('woff2/Iosevka-ExtraBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtendedExtraBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('woff2/Iosevka-ExtendedExtraBoldOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/Iosevka-ExtraBoldItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/Iosevka-ExtendedExtraBoldItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-Heavy.woff2') format('woff2'), url('ttf/Iosevka-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/Iosevka-ExtendedHeavy.woff2') format('woff2'), url('ttf/Iosevka-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/Iosevka-HeavyOblique.woff2') format('woff2'), url('ttf/Iosevka-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('woff2/Iosevka-HeavyOblique.woff2') format('woff2'), url('ttf/Iosevka-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('woff2/Iosevka-ExtendedHeavyOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('woff2/Iosevka-ExtendedHeavyOblique.woff2') format('woff2'), url('ttf/Iosevka-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/Iosevka-HeavyItalic.woff2') format('woff2'), url('ttf/Iosevka-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/Iosevka-ExtendedHeavyItalic.woff2') format('woff2'), url('ttf/Iosevka-ExtendedHeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/sarasa-mono-sc-regular-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/sarasa-mono-sc-semibold-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/sarasa-mono-sc-bold-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/sarasa-mono-sc-light-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/sarasa-mono-sc-extralight-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/sarasa-mono-sc-italic-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/sarasa-mono-sc-bolditalic-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/sarasa-mono-sc-semibolditalic-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/sarasa-mono-sc-light-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'Sarasa Mono SC Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/sarasa-mono-sc-extralightitalic-nerd-font.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Duo Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iAWriterDuoS-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Duo Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iAWriterDuoS-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Duo Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iAWriterDuoS-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Duo Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iAWriterDuoS-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Mono Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iAWriterMonoS-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Mono Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iAWriterMonoS-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Mono Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iAWriterMonoS-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Mono Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iAWriterMonoS-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Quattro Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iAWriterQuattroS-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Quattro Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iAWriterQuattroS-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Quattro Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iAWriterQuattroS-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Quattro Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iAWriterQuattroS-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/Iosevka-Medium.woff2') format('woff2'), url('ttf/Iosevka-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'pf';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/190-SC-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'pf';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/190-SC-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'pf';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/190-SC-Semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'pf';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/190-SC-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'pf';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/190-SC-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'pf';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/190-SC-Ultralight.woff2') format('woff2');
}